@import "compass/reset";
@import "compass/css3";

@import "global/color";
@import "global/typography";
@import "global/layout";
@import "global/transition";

html{
	background-color: #eee;
}


.header{
	height: 80px;
	width: 100%;
	padding: 0 $global-padding;
	padding-top: 26px;
	box-sizing: border-box;
	font-size: 15px;
	position: relative;
	color: black;

	.header-bg{
		z-index: -1;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		@include opacity(0.5);
		background-color: white;
	}

	.header-logo-wrapper{
		width: 53px;
		height: 60px;
		float: left;
		margin-top: -20px;

		&:hover > .header-logo{
			transform: translate3d(0, -4px, 0) scale(0.8);
		}

		&:hover > .header-logo-text{
			@include opacity(1);
			transform: translate3d(0,0,0);
		}

	}
	.header-logo{
		width: 100%;
		height: 100%;
		background: image-url("nav_modou_logo@2x.png") no-repeat 50% 50%;
		background: image-url("nav_modou_logo.png") center no-repeat\9;
		background-size: 36px;
		transition: $transition-default;
	}

	.header-logo-text{
		position: relative;
		top: -16px;
		width: 100%;
		height: 13px;
		background: image-url("nav_modou_logo_text@2x.png") no-repeat 50%;
		background-size: 53px;
		transition: $transition-default;
		transform: translate3d(0, 4px, 0);
		@include opacity(0);
	}


	.header-nav{
		display: inline-block;
		margin-right: 10px;
		font-weight: bold;
		float: left;
		margin-left: 18px;
	}

	.header-account{
		display: inline-block;
		border: 1px solid black;
		height: 26px;
		box-sizing: border-box;
		float: right;

		&:first-child{
			border-right: 1px solid black;
		}
	}

	.header-nav-tab{
		display: inline-block;
		margin: 0 16px;
		line-height: 24px;
		text-decoration:none;
		color: inherit;
		border-bottom: 2px solid rgba(0,0,0,0);
		transition: $transition-default;

		&:hover{
			border-bottom: 2px solid black;
		}
	}

	.header-nav-account{
		display: inline-block;
		width: 80px;
		text-align: center;
		line-height: 16px;
		margin-top: 4px;
		text-decoration:none;
		color: inherit;
		transition: $transition-default;

		&:hover{
			@include opacity(0.7);
		}
	}
}


.header-white{
	color: white;

	.header-bg{
		background-color: white;
	}

	.header-logo{
		background: image-url("nav_modou_logo_white@2x.png") no-repeat 50% 50%;
		background: image-url("nav_modou_logo_white.png") center no-repeat\9;
		background-size: 36px;
	
	}

	.header-logo-text{
		background: image-url("nav_modou_logo_text_white@2x.png") no-repeat 50%;
		background: image-url("nav_modou_logo_text_white.png") center no-repeat\9;
		background-size: 53px;

	}

	.header-account{
		border: 1px solid white;
	}

	.header-nav-tab{
		&:hover{
			border-bottom: 2px solid white;
		}
	}

	.header-nav-account{

		&:first-child{
			border-right: 1px solid white;
		}
	}
}