.footer-wrapper{
	width: 100%;
	height: 280px;
	background-color: $deep-grey;
	padding: 30px $global-padding 0;
	box-sizing: border-box;
	color: #808080;
	font-size: 13px;
	white-space:nowrap;
	position: relative;

	.customer-service{
		width: 146px;
		float: left;
	}

	.customer-service-phone-number{
		font-size: 18px;
		letter-spacing: 3px;
		line-height: 32px;
		color: white;
		font-weight: lighter;
		text-align: center;
	}

	.customer-service-time{
		margin-top: 4px;
		text-align: center;
		font-size: 14px;

	}

	.customer-service-online{
		background-color: #555;
		color: #ccc;
		border-radius: 2px;
		margin-top: 16px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 14px;
		transition: $transition-default;

		&:hover{
			background-color: #eee;
			color: $blue;
		}
	}

	.colum-links{
		width: 16%;
		height: 150px;
		display: inline-block;
		float: right;
		margin-left: 30px;

		li{
			height: 22px;
			line-height: 22px;
		}

		a{
			color: #808080;
			line-height: 26px;
			border-bottom: 1px solid transparent;
			transition: $transition-default;
			padding-bottom: 2px;
			text-decoration: none;

			&:hover{
				border-bottom: 1px solid #ccc;
				color: #ccc;
			}
		}
	}

	.colum-title{
		border-bottom: 1px solid #555;
		height: 28px;
		line-height: 28px;
		margin-bottom: 3px;
	}

	.footer-bottom{
		left: $global-padding;
		right: $global-padding;
		border-top: 1px solid #555;
		position: absolute;
		border-bottom: 0;
		height: 50px;
		bottom: 0;
	}

	.icp{
		float: left;
		height: 100%;
		line-height: 50px;
		font-size: 10px;
	}

	.company{
		float: right;
		height: 100%;
		line-height: 50px;
		font-size: 10px;
	}
}