@import "compass/css3";

@import "global";
@import "global/header";
@import "global/footer";

body, html{
	height: 100%;
	min-width: 768px;
	max-width: 1444px;
	margin: 0 auto;
	background-color: $subtle-grey;
}

.body-wrapper{
	width: 100%;
	height: 100%;
	min-height: 768px;
	max-height: 1000px;
	position: relative;
	overflow-x: hidden;
}

.main{
	height: 100%;
	width: 100%;
	background-color: #eae9e4;
	color: white;
	text-align: center;
	overflow: hidden;

	.content{
		position: absolute;
		width: 100%;
		height: 200px;
		top: 60%;
		margin-top: -6%;
		color: black;

		.main-title{
			font-size: 50px;
			position: relative;
		}
		.main-subtitle{
			font-size: 22px;
			margin-top: 10px;
			position: relative;
		}
		.main-link{
			position: relative;
			margin-top: 10px;
			color: #1eabfb;
		}
	}

	.main-poster-wrapper{
		width: 2560px;
		height: 100%;
		position: absolute;
		left: 50%;
		margin-left: -1280px;
	}

	.main-poster{
		position: absolute;
		width: 50%;
		left: 0;
		right: 0;
		top: -30%;
		bottom: 0;
		margin: auto;
	}

	@media (min-width: 1000px) {
		.main-poster{
			width: 64%;
		}
	}

	@media (min-width: 1300px) {
		.main-poster{
			width: 72%;
		}
	}

	.home-title{
		position: relative;
		width: 350px;
		height: 100px;
		background: image-url("home-title@2x.png") no-repeat;
		background: image-url("home-title.png") no-repeat\9;
		background-size: 100%;
		margin: 0 auto;
		margin-top: 20px;

		font-size: 66px;
		color: transparent;
		letter-spacing: 5px;
		white-space:nowrap;
		text-align: center;	
		font-size: 0px\9;

		.home-subtitle{
			position: absolute;
			bottom: 0;
			width: 100%;
			color: transparent;
			font-size: 24px;
			letter-spacing: 0px;
			white-space:nowrap;
			text-align: center;	
			font-size: 0px\9;
		}
	}

	.learn-more{
		position: relative;
		display: block;
		width: 160px;
		margin: 0 auto;
		margin-top: 20px;
		height: 40px;
		line-height: 40px;
		color: #53baff;
	}

	.router-wrapper{
		position: relative;
		width: 400px;
		height: 320px;
		margin: 0 auto;
		background: image-url("home_router@2x.png") no-repeat;
		background-size: 100%;
		background: image-url("home_router.png") no-repeat\9;
	}

	iframe{
		position: absolute;
		width: 320px;
		height: 240px;
		left: 50%;
		top:0;
		margin-left: -160px;
		margin-top: 28px;
		transform: scale(0.465);
	}
}

.aside-wrapper{
	position: absolute;
	bottom: 0;
	font-size: 0;
	letter-spacing: 0;
	margin: 0 auto;
	width: 100%;
	background-color: $subtle-grey;
	padding-top: 2px;

	.promo{
		width: 33.333%;
		display: inline-block;
		box-sizing: border-box;
	}

	.promo-extender{
		height: 180px;
		width: 100%;
		position: relative;;
		padding-top: 15%;
	}

	.promo-fuller{
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
	}

	.promo-container{
		background-color: $medium-grey;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
	}

	.promo + .promo{
		padding-left: 2px;
	}

	.img-wrapper{
		width: 200%;
		height: 100%;
		position: absolute;
		left: -50%;
	}

	img{
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}