@import "compass/css3";

@import "global";
@import "global/header";
@import "global/footer";

body, html{
	min-width: 768px;
	max-width: 1444px;
	// height: 100%;
	margin: 0 auto;
	background-color: white;
}

.body-wrapper{
	width: 100%;
	height: 100%;
	min-height: 768px;
	max-height: 1000px;
	position: relative;
	overflow: hidden;
}

.main{
	height: 100%;
	background-color: #eae9e4;
	color: white;
	text-align: center;

	.content{
		position: absolute;
		width: 100%;
		height: 200px;
		top: 58%;
		margin-top: -5%;
		color: black;

		.main-title{
			font-size: 50px;
			position: relative;
		}
		.main-subtitle{
			font-size: 22px;
			margin-top: 10px;
			position: relative;
		}
		.main-link{
			position: relative;
			margin-top: 10px;
		}
	}

	img{
		width: 100%;
		margin: 0 auto;
	}

	.home-title{
		position: relative;
		width: 350px;
		height: 100px;
		background: image-url("home-title@2x.png") no-repeat;
		background: image-url("home-title.png") no-repeat\9;
		background-size: 100%;
		margin: 0 auto;
		margin-top: 20px;

		font-size: 66px;
		color: transparent;
		letter-spacing: 5px;
		white-space:nowrap;
		text-align: center;	
		font-size: 0px\9;

		.home-subtitle{
			position: absolute;
			bottom: 0;
			width: 100%;
			color: transparent;
			font-size: 24px;
			letter-spacing: 0px;
			white-space:nowrap;
			text-align: center;	
			font-size: 0px\9;
		}
	}

	.learn-more{
		position: relative;
		display: block;
		width: 160px;
		margin: 0 auto;
		margin-top: 20px;
		height: 40px;
		line-height: 40px;
		color: #53baff;
	}

	.router-wrapper{
		position: relative;
		width: 400px;
		height: 320px;
		margin: 0 auto;
		background: image-url("home_router@2x.png") no-repeat;
		background-size: 100%;
		background: image-url("home_router.png") no-repeat\9;
	}

	iframe{
		position: absolute;
		width: 320px;
		height: 240px;
		left: 50%;
		top:0;
		margin-left: -160px;
		margin-top: 28px;
		transform: scale(0.465);
	}
}

.aside-wrapper{
	position: absolute;
	bottom: 0;
	font-size: 0;
	letter-spacing: 0;
	margin: 0 auto;
	height: 220px;
	width: 100%;
	background-color: $subtle-grey;
	padding-top: 2px;

	.promo{
		width: 33.333%;
		height: 100%;
		display: inline-block;
		box-sizing: border-box;
	}

	.promo-container{
		background-color: black;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: center;
	}

	.video_thumb{
		// left: 0 !important;
		// margin-left: 0 !important;
	}

	.promo + .promo{
		padding-left: 2px;
	}

	.promo1 .promo-container{
		background-position: 0;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/router_video_thumb.jpg', sizingMethod='scale');
	}

	img{
		height: 100%;
		position: absolute;
	}
}